*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-card{
    position: relative;
    height: 430px;
}
.first-card img{
    width: 750px;
    height: 100%;
    
}
.first-card h2, p{
    position: absolute;
    right: 10px;
    bottom: 80px;
    color:white;
    
}
.first-card  p{
    bottom: 20px;
    text-align: right;
    
    
}
.next1{
    position: absolute;
    top: 0;
    right: 50%;
    
}
.prev1{
    position: absolute;
    bottom:0;
    right: 50%;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 430px;
}
.thumbnails img{
    display: flex;
    flex-wrap: wrap;
    width: 155px;

}
.thumbnails{
    height: 100%;
    position: relative;
}
